<div class="icon">
  <img routerLink="/pain2" src="../../assets/icon/arrow.png">
</div>

<div class="container">
  <div class="subtitle">
    <!-- <h3>TÓPICO 3 - O MEU FILHO/FILHA PODE SENTIR DOR?</h3> -->
    <h1>Como o prematuro reage a dor?</h1>
  </div>

  <!-- <div class="p">
    <p class="p-sub">
      Aqui você encontrará informações sobre a dor e como vocês (pais ou
      familiares) podem ajudar o seu filho ou sua filha durante a internação.
    </p>
</div> -->

  <div class="p">
    <p>
      O recém-nascido não fala, mas ele possui uma linguagem não verbal. Essa
      linguagem pode ser expressa através:
    </p>

    <p>
      <strong>1) Mímica facial:</strong> O prematuro apresenta: contração da
      testa com abaixamento das sobrancelhas, estreitamento das pálpebras e/ou
      fechamento dos olhos, nariz franzido e/ou bochechas levantadas, boca
      entreaberta e/ou lábios esticados e língua esticada com as bordas tensas.
    </p>
  </div>

  <div class="photo">
    <img src="../../assets/imgs/9.png" alt="" />
    <img src="../../assets/imgs/10.png" alt="" />
  </div>

  <div class="p">
    <p>
      <strong>2) Sono e vigília:</strong> Os bebes prematuros reagem a dor
      através dos estados de sono – profundo ou irregular e vigília – olhos bem
      abertos e atentos. O prematuro pode dormir fácil ou apresentar dificuldade
      para pegar no sono tendo sonecas curtas e agitadas ou até mesmo não
      dormindo.
    </p>
  </div>

  <div class="button">
    <a id="but1" routerLink="/pain4">PRÓXIMA PÁGINA</a>
  </div>
</div>
