<div class="icon">
  <img routerLink="/help" src="../../assets/icon/arrow.png">
</div>

<div class="container">
  <!-- <div class="subtitle">
    <h3>TÓPICO 4 - VOCÊS PODEM AJUDAR O SEU FILHO OU FILHA!</h3>
    <h1>Vocês podem ajudar o seu bebê!</h1>
  </div> -->

  <!-- <div class="p">
    <p class="p-sub">
      Aqui você encontrará informações sobre a dor e como vocês (pais ou
      familiares) podem ajudar o seu filho ou sua filha durante a internação.
    </p>
</div> -->

  <div class="p">
    <p>
      É fundamental que vocês conheçam mais sobre as respostas de dor do seu
      bebê durante os procedimentos e que façam perguntas a equipe! Tirem as
      dúvidas quanto a realização dos procedimentos e o tratamento do seu filho
      ou sua filha!
    </p>

    <p>
      <strong
        >A equipe de saúde está aqui para ajudar vocês!
      </strong>
    </p>

    <p>
      <strong>Lembre-se: </strong><u>Todo o recém-nascido tem o
        direito de não sentir dor, quando existem
        meios para evitá-la!</u> Está escrito no
        Estatuto da Criança e do AdolescenteLei 8069/1990, a Resolução no 41 de
        1995 – Direitos das Crianças e
        Adolescentes Hospitalizados, e a
        Declaração Universal de Direitos para o
        Bebê Prematuro.
    </p>
  </div>

  <div class="button">
    <a id="but1" routerLink="/help3">PRÓXIMA PÁGINA</a>
  </div>
</div>
