<div class="icon">
  <img routerLink="/how5" src="../../assets/icon/arrow.png">
</div>

<div class="container">
  <!-- <div class="subtitle">
    <h3>
      TÓPICO 5: COMO AJUDAR O MEU FILHO OU FILHA DURANTE UM PROCEDIMENTO
      DOLOROSO E/OU ESTRESSANTE?
    </h3>
    <h1>Durante o procedimento:</h1>
  </div> -->

  <div class="p">
    <p>
      <strong>2. Amamentação: </strong>
    </p>

    <p>
      A amamentação é uma medida muito importante que além de promover todos os
      nutrientes necessários para o crescimento e desenvolvimento do seu filho
      ou filha está associada a muitos outros benefícios, sendo um deles o
      alívio da dor quando realizada antes, durante e após procedimentos
      dolorosos.
    </p>

    <p>
      Em contato pele a pele ou posição canguru o seu filho, sua filha está
      aquecido, ouvindo os batimentos cardíacos (sons do coração) e sentindo o
      cheiro materno/paterno o que promove uma sensação de conforto e segurança,
      sendo capaz de acalmá-lo durante a realização dos procedimentos dolorosos.
    </p>

    <p>
      É importante consultar os médicos e enfermeiros que estão cuidando de seu
      filho ou filha para saber se ele ou ela já é capaz de receber o leite
      materno através do seio pois para isso ele ou ela precisa ser capaz de
      sugar o seio, respirar e deglutir o leite ao mesmo tempo.
    </p>
  </div>

  <h4>
    A EQUIPE DE SAÚDE VAI APOIAR A AMAMENTAÇÃO SEMPRE!
  </h4>

  <!-- <div class="photo">
    <img src="../../assets/imgs/17.png" alt="" />
    <img src="../../assets/imgs/29.png" alt="" />
  </div> -->

  <div class="button">
    <a id="but1" routerLink="/how9">PRÓXIMA PÁGINA</a>
  </div>
</div>
