<div class="container">
  <div class="subtitle">
    <h3>TÓPICO 3 - O MEU FILHO/FILHA PODE SENTIR DOR?</h3>
    <h1>Mas como isso ocorre?</h1>
  </div>

  <!-- <div class="p">
    <p class="p-sub">
      Aqui você encontrará informações sobre a dor e como vocês (pais ou
      familiares) podem ajudar o seu filho ou sua filha durante a internação.
    </p>
</div> -->

  <div class="p">
    <p>
      Após um procedimento doloroso o cérebro do recém-nascido recebe a mensagem
      da dor e os neurônios (células presentes no cérebro) transmitem os sinais
      de dor para os músculos e demais órgãos do corpo como: pulmão, coração e
      pele.
    </p>

    <p>
      Dessa forma, os prematuros respondem a esse estímulo e
      <strong
        >expressam a sua dor através de uma linguagem própria chamada de
        linguagem não verbal.</strong
      >
    </p>

    <div class="photo">
      <img src="../../assets/imgs/8.png" alt="" />
    </div>

    <p>
      O estímulo nervoso, produzido pelo procedimento, percorre o SN do bebê e
      desencadeia uma série de respostas em seu corpo.
    </p>
  </div>

  <div class="button">
    <a id="but1" routerLink="/pain3">PRÓXIMA PÁGINA</a>
  </div>
</div>
