<div class="icon">
  <img routerLink="/summary" src="../../assets/icon/arrow.png" />
</div>

<div class="container">
  <div class="subtitle">
    <h1>TÓPICO 6: QUIZ</h1>

    <div class="p">
      <p>
        Agora que você já sabe um pouco mais sobre como ajudar o seu bebê, que
        tal reforçar o que aprendeu com um jogo?
      </p>

      <p>
        Neste jogo você verá imagens reais de bebês prematuros em situações que
        podem acontecer com seu bebê internado na Unidade Neonatal.
      </p>

      <p>
        O objetivo deste jogo é que essas situações reais lhe ajudem a
        identificar e cuidar de seu bebê prematuro quando o mesmo sente dor.
        Vamos lá?
      </p>
    </div>

    <div class="button">
      <button id="but1" routerLink="/quiz2">JOGAR</button>
    </div>
  </div>
</div>
