<div class="container">
  <div class="subtitle">
    <h3>
      TÓPICO 5: COMO AJUDAR O MEU FILHO OU FILHA DURANTE UM PROCEDIMENTO
      DOLOROSO E/OU ESTRESSANTE?
    </h3>
    <h1>Como isso irá ocorrer?</h1>
  </div>

  <div class="p">
    <p>
      <strong>1. O toque positivo – parado,</strong> envolve a colocação das
      mãos paradas sobre o corpo do recém-nascido, usando toque firme e com
      pressão constante. Uma mão envolve a cabeça, a outra contém os pés ou as
      mãos.
    </p>

    <p>
     <strong>2. A contenção facilitada,</strong> é uma contenção motora gentil dos braços e das
      pernas em flexão, posicionados em direção à linha média, próximos do
      tronco e da face, em decúbito lateral ou supino. A contenção é firme, mas
      elástica. Importante fazer com a ajuda de um dos profissionais de saúde.
    </p>

    <p>
     <strong>3. O enrolamento</strong> consiste em segurar os
      braços e as pernas em posição fletida, mãos
      próximas à boca. Deve ser firme o suficiente
      para não permitir o deslocamento do tecido
      usado, a fim de evitar o risco de sufocamento.
    </p>
  </div>

  <div class="photo">
    <img src="../../assets/imgs/16.jpg" alt="" />
  </div>

  <div class="button">
    <a id="but1" routerLink="/how4">PRÓXIMA PÁGINA</a>
  </div>
</div>
