<div class="container">
  <div class="subtitle">
    <h3>
      TÓPICO 5: COMO AJUDAR O MEU FILHO OU FILHA DURANTE UM PROCEDIMENTO
      DOLOROSO E/OU ESTRESSANTE?
    </h3>
    <h1>Antes do procedimento:</h1>
  </div>

  <div class="p">
    <ul>
      <li>
        Procure olhar nos olhos de seu filho ou sua filha, quando estiverem
        abertos.
      </li>
      <li>
        Converse com ele ou ela quanto ao procedimento, e que vocês estarão
        juntos! A voz materna/paterna é uma ponte importante para a ligação
        emocional e afetiva entre os pais e o prematuro.
      </li>
      <li>Cantar baixinho também pode acalmar seu bebê.</li>
      <li>
        Ao tocar seu filho, sua filha evitar mudanças súbitas de postura ou
        realizá-las com ele ou ela bem aconchegado em flexão e com as mãos
        próximas à boca.
      </li>
      <li>
        Vocês devem estar em uma posição bem confortável, de preferência
        sentados para dar o colo materno ou paterno.
      </li>
      <li>
        Sempre transmitir segurança e conforto através da voz e do toque das
        mãos.
      </li>
    </ul>
  </div>

  <div class="button">
    <a id="but1" routerLink="/how2">PRÓXIMA PÁGINA</a>
  </div>
</div>
