<!-- <div class="icon">
  <img routerLink="/quiz7" src="../../assets/icon/arrow.png" />
</div> -->

<div class="container">
  <div class="subtitle">
    <h1>Obrigado por chegar até aqui!</h1>
  </div>

  <div class="p">
    <p>
      Parabéns, você chegou ao final do aplicativo! Esperamos que vocês, pai,
      mãe e família, tenham aprendido mais sobre o importante papel da família
      na prevenção e alívio da dor do bebê prematuro.
    </p>

    <p>
      Este material foi desenvolvido por Enfermeiras especialistas em dor e
      Cuidado Intensivo Neonatal, estudante de Enfermagem e profissionais das
      áreas de Tecnologia e Design, pensando em toda a família do bebê
      prematuro.
    </p>

    <!-- <p>
      Caso tenha permanecido com algum dúvida ou alguma sugestão que irá
      contribuir com outros pais, mães e familiares o espaço abaixo está
      disponível!
    </p> -->
  </div>

  <!-- <div class="button">
    <div id="but1">
      <p>NOME:</p>
      <p>EMAIL:</p>
      <p>SUGESTÃO:</p>
    </div>
  </div> -->

  <div class="button">
    <a id="but2" routerLink="/home">HOME</a>
  </div>
</div>
