<div class="icon">
  <img routerLink="/summary" src="../../assets/icon/arrow.png" />
</div>

<div class="container">
  <div class="subtitle">
    <h2>OBSERVE ATENTAMENTE O BEBÊ.</h2>

    <div class="photo">
      <img src="../../assets/imgs/30.png" alt="" />
    </div>

    <div class="p">
      <p>Agora responda: O bebê está com dor?</p>

      <div class="paragraphs">
        <p class="right">
          Sim, é possível observar através da mímica facial e os movimentos do
          bebê.
        </p>
      <div class="paragraphs">
        <p class="wrong">Não, o bebê não apresenta sinais sugestivos de dor.</p>
      </div>
    </div>

    <div class="button">
      <h3 class="btn-wrong">TENTE NOVAMENTE...</h3>
      <h3 class="btn-right">ACERTOU!!!</h3>
    </div>
  </div>
</div>
