<div class="icon">
  <img routerLink="/how4" src="../../assets/icon/arrow.png">
</div>

<div class="container">
  <!-- <div class="subtitle">
    <h3>
      TÓPICO 5: COMO AJUDAR O MEU FILHO OU FILHA DURANTE UM PROCEDIMENTO
      DOLOROSO E/OU ESTRESSANTE?
    </h3>
    <h1>Como isso irá ocorrer?</h1>
  </div> -->

  <div class="p">
    <p>
      5. As soluções adocicadas podem ser glicose oral a 25% e leite humano
      ordenhado da própria mãe.
    </p>

    <p>
      <strong>Atenção:</strong> A Glicose oral a 25% é sempre recomendada pelo
      médico. É administrada lentamente na porção anterior da língua; após dois
      minutos o procedimento é realizado. Uma nova dose pode ser administrada
      durante o procedimento. Não devem ser utilizadas mais de três doses
      durante um único procedimento.
    </p>

    <p>
      No caso do <u>Leite Humano Ordenhado (LHO)</u> você, mãe, pode retirar o
      colostro/leite ao lado da incubadora do seu filho ou filha e, administrar
      lentamente na porção anterior da língua.
    </p>

    <p>A Glicose Oral a 25% ou leite da própria mãe
      ordenhado associado à sucção não nutritiva
      dois minutos antes do procedimento, na parte
      anterior da língua também é recomendado. Os
      pais sempre devem, assim que possível,
      utilizar o contato pele a pele ou a
      amamentação.
      </p>
  </div>

  <!-- <div class="photo">
    <img src="../../assets/imgs/17.png" alt="" />
    <img src="../../assets/imgs/29.png" alt="" />
  </div> -->

  <div class="button">
    <a id="but1" routerLink="/how6">PRÓXIMA PÁGINA</a>
  </div>
</div>
