<div class="container">
  <h1 class="title">MENU</h1>

  <div class="button">
    <button id="but1" routerLink="/prematuro">A PREMATURIDADE</button>

    <button id="but1" routerLink="/ifprematuro">NASCEU PREMATURO... E AGORA?</button>

    <button id="but1" routerLink="/pain">O MEU FILHO/FILHA PODE SENTIR DOR?</button>

    <button id="but1" routerLink="/help">VOCÊS PODEM AJUDAR O SEU FILHO OU FILHA!</button>

    <button id="but1" routerLink="/how">
      COMO AJUDAR O MEU FILHO OU FILHA DURANTE UM PROCEDIMENTO DOLOROSO E/OU
      ESTRESSANTE?
    </button>

    <!-- <button id="but1">
      QUIZ
    </button> -->

    <button id="but1" routerLink="/about">
    CONCLUSÃO
    </button>

    <a id="but1" routerLink="/home">
      HOME
    </a>
  </div>
</div>

