<div class="container">
  <div class="subtitle">
    <h3>
      TÓPICO 5: COMO AJUDAR O MEU FILHO OU FILHA DURANTE UM PROCEDIMENTO
      DOLOROSO E/OU ESTRESSANTE?
    </h3>
    <h1>Durante o procedimento:</h1>
  </div>

  <div class="p">
    <p>
      Para que esse momento seja confortável tanto para você, mãe, quanto para o
      seu filho ou filha é importante que você esteja em poltrona confortável
      próximo a incubadora, ou se estiver na cama a cabeceira deve estar elevada
      permitindo um posicionamento confortável e seguro.
    </p>

    <p>
      <strong
        >A amamentação deve ser iniciada cerca de 5 minutos ANTES do início do
        procedimento doloroso e permanecer todo o tempo DURANTE o procedimento
        doloroso. Após o procedimento o bebê deve permanecer no seio materno até
        estar organizado, saciado e pleno.</strong
      >
    </p>
  </div>

  <!-- <div class="photo">
    <img src="../../assets/imgs/18.png" alt="" />
    <img src="../../assets/imgs/19.png" alt="" />
  </div> -->

  <div class="photo-solo">
    <img src="../../assets/imgs/21.jpg" alt="" />
  </div>

  <div class="button">
    <a id="but1" routerLink="/summary">MENU</a>
  </div>
</div>
