<!-- <div class="icon">
  <img routerLink="/quiz6" src="../../assets/icon/arrow.png" />
</div> -->

<div class="container">
  <div class="subtitle">
    <h2>OBSERVE ATENTAMENTE A IMAGEM.</h2>

    <div class="photo">
      <img src="../../assets/imgs/21.jpg" alt="" />
    </div>

    <div class="p">
      <p>Agora responda: Qual medida está sendo realizada com o bebê?</p>

      <div class="paragraphs">
        <p class="right" (click)="selectedButton1()">Aleitamento materno.</p>
      </div>
      <div class="paragraphs">
        <p class="wrong" (click)="selectedButton2()">
          Contato pele-a-pele ou posição canguru.
        </p>
      </div>
      <div class="paragraphs">
        <p class="wrong" (click)="selectedButton2()">
          Sucção Não-Nutritiva + Glicose Oral a 25% ou gotas de leite da própria
          mãe.
        </p>
      </div>
    </div>

    <div class="button">
      <h3 class="btn2 hide" *ngIf="!isTrue">TENTE NOVAMENTE...</h3>
      <h3 class="btn1" *ngIf="isTrue">ACERTOU!!!</h3>
    </div>
  </div>
</div>
