<div class="container">
  <div class="subtitle">
    <h3>TÓPICO 1: A PREMATURIDADE</h3>
    <h1>Classificação</h1>
  </div>

  <!-- <div class="p">
    <p class="p-sub">
      Aqui você encontrará informações sobre a dor e como vocês (pais ou
      familiares) podem ajudar o seu filho ou sua filha durante a internação.
    </p>
</div> -->
  <!--
  <div class="photo">
    <img src="../../assets/imgs/2.jpg" alt="" />
  </div> -->

  <div class="p">
    <p>
      Entre os bebês prematuros ainda existem outras classificações de acordo
      com as semanas da gestação (SBP, 2017):
    </p>
  </div>

  <div class="pt">
    <div class="photo">
      <img src="../../assets/imgs/3.jpg" alt="" />
      <div class="text">
        <h3>PREMATURO EXTREMO</h3>
        <p>Nascido antes de completar 28 semanas de gestação.</p>
      </div>
    </div>

    <div class="photo">
      <img src="../../assets/imgs/4.jpg" alt="" />
      <div class="text">
        <h3>MUITO PREMATURO</h3>
        <p>Nascido entre 28 a 31 semanas e 6 dias de gestação.</p>
      </div>
    </div>

    <div class="photo">
      <img src="../../assets/imgs/5.jpg" alt="" />
      <div class="text">
        <h3>PREMATURO MODERADO</h3>
        <p>Nascido entre 31 e 33 semanas e 6 dias de gestação.</p>
      </div>
    </div>

    <div class="photo">
      <img src="../../assets/imgs/6.jpg" alt="" />
      <div class="text">
        <h3>PREMATURO TARDIO</h3>
        <p>Nascido entre 34 e 36 semanas e 6 dias de gestação.</p>
      </div>
    </div>
  </div>

  <div class="button">
    <a id="but1" routerLink="#">PRÓXIMA PÁGINA</a>
  </div>
</div>
