<div class="icon">
  <img routerLink="/help2" src="../../assets/icon/arrow.png">
</div>

<div class="container">
  <div class="subtitle">
    <!-- <h3>TÓPICO 4 - VOCÊS PODEM AJUDAR O SEU FILHO OU FILHA!</h3> -->
    <h1>Como ajudar o meu filho ou filha antes do procedimento?</h1>
  </div>

  <!-- <div class="p">
    <p class="p-sub">
      Aqui você encontrará informações sobre a dor e como vocês (pais ou
      familiares) podem ajudar o seu filho ou sua filha durante a internação.
    </p>
</div> -->

  <div class="p">
    <p>
     <strong>1º</strong> Importante mãe e pai estarem calmos, pois
     a ansiedade e o nervosismo podem ser
     sentidos pelo seu filho ou filha. Tirar todas as
     dúvidas com a equipe de saúde que irá
     realizar o procedimento. A informação é
     fundamental para vocês se sentirem seguros.
    </p>

    <p>
      <strong>2º</strong> Entender a mímica facial e o movimento do
      corpo do seu bebê é essencial! Assim vocês
      podem identificar quando seu bebê sente ou
      não dor e ajudá-lo.

     </p>

     <p>
      <strong>3º</strong> Ajudar o seu filho ou filha a se acalmar,
      caso ele esteja chorando muito ou agitado.
     <strong>Mas como?</strong>

     </p>
  </div>

  <div class="photo">
    <img src="../../assets/imgs/14.jpg" alt="" />
  </div>

  <div class="button">
    <a id="but1" routerLink="/summary">MENU</a>
  </div>
</div>
