<div class="icon">
  <img routerLink="/how5" src="../../assets/icon/arrow.png">
</div>

<div class="container">
  <div class="subtitle">
    <!-- <h3>
      TÓPICO 5: COMO AJUDAR O MEU FILHO OU FILHA DURANTE UM PROCEDIMENTO
      DOLOROSO E/OU ESTRESSANTE?
    </h3>
    <h1>Durante o procedimento:</h1> -->

    <h4>
      SE SEU FILHO OU FILHA PUDER SAIR DA INCUBADORA DURANTE O PROCEDIMENTO:
    </h4>
  </div>

  <div class="p">
    <p>
      <strong>1. Posição Canguru ou Contato pele a pele:</strong>
      Consiste em manter o RN, em contato pele a pele, somente de fraldas, meias
      e gorro na posição vertical junto ao seu tórax ou peito, envolvidos por
      uma manta ou camisola aguardando o tempo mínimo necessário para respeitar
      a estabilização do RN e pelo tempo máximo que ambos entenderem ser
      prazeroso e suficiente.
    </p>

    <p>
      Em contato pele a pele ou posição canguru o seu filho, sua filha está
      aquecido, ouvindo os batimentos cardíacos (sons do coração) e sentindo o
      cheiro materno/paterno o que promove uma sensação de conforto e segurança,
      sendo capaz de acalmá-lo durante a realização dos procedimentos dolorosos.
    </p>


  </div>

  <!-- <div class="photo">
    <img src="../../assets/imgs/17.png" alt="" />
    <img src="../../assets/imgs/29.png" alt="" />
  </div> -->

  <div class="button">
    <a id="but1" routerLink="/how7">PRÓXIMA PÁGINA</a>
  </div>
</div>
