<div class="container">
  <div class="subtitle">
    <h3>
      TÓPICO 5: COMO AJUDAR O MEU FILHO OU FILHA DURANTE UM PROCEDIMENTO
      DOLOROSO E/OU ESTRESSANTE?
    </h3>
    <h1>Durante o procedimento:</h1>
  </div>

  <div class="p">
    <!-- <ul>
      <li>
        Procure olhar nos olhos de seu filho ou sua filha, quando estiverem
        abertos.
      </li>
      <li>
        Converse com ele ou ela quanto ao procedimento, e que vocês estarão
        juntos! A voz materna/paterna é uma ponte importante para a ligação
        emocional e afetiva entre os pais e o prematuro.
      </li>
      <li>Cantar baixinho também pode acalmar seu bebê.</li>
      <li>
        Ao tocar seu filho, sua filha evitar mudanças súbitas de postura ou
        realizá-las com ele ou ela bem aconchegado em flexão e com as mãos
        próximas à boca.
      </li>
      <li>
        Vocês devem estar em uma posição bem confortável, de preferência
        sentados para dar o colo materno ou paterno.
      </li>
      <li>
        Sempre transmitir segurança e conforto através da voz e do toque das
        mãos.
      </li>
    </ul> -->

    <p>A equipe de enfermagem e os neonatologistas
      sempre irão ajudá-los a aprender formas de
      tocar e confortar o seu filho ou sua filha até
      que vocês se sintam seguros para estarem
      fazendo isso sozinhos.
      </p>

      <h5>SE SEU FILHO OU FILHA NÃO PUDER SAIR DA
        INCUBADORA DURANTE O PROCEDIMENTO:</h5>
  </div>

  <div class="photo">
    <img src="../../assets/imgs/15.png" alt="">
  </div>

  <div class="p">
   <p>A equipe de saúde irá orientar vocês pais a
    utilizar algumas medidas:
    </p>
    <p>1.O toque positivo – parado.</p>
    <p>2.A contenção facilitada.</p>
    <p>3.Enrolamento.</p>
    <p>4.Sucção Não Nutritiva com dedo mínimo
      enluvado.</p>
    <p>5. Glicose Oral a 25% ou leite da própria mãe
      associado à sucção não nutritiva.
      </p>
  </div>

  <div class="button">
    <a id="but1" routerLink="/how3">PRÓXIMA PÁGINA</a>
  </div>
</div>
