<div class="icon">
  <img routerLink="/how3" src="../../assets/icon/arrow.png">
</div>

<div class="container">
  <!-- <div class="subtitle">
    <h3>
      TÓPICO 5: COMO AJUDAR O MEU FILHO OU FILHA DURANTE UM PROCEDIMENTO
      DOLOROSO E/OU ESTRESSANTE?
    </h3>
    <h1>Como isso irá ocorrer?</h1>
  </div> -->

  <div class="p">
    <p>
      4. Na <strong>Sucção Não Nutritiva com dedo mínimo enluvado</strong> o
      dedo materno ou paterno enluvado deve ser introduzido na boca do
      recémnascido e deve ser mantido durante todo o procedimento.
    </p>

    <p>
      Quando o recém-nascido suga o dedo enluvado isso estimula o reflexo de
      sucção, além de liberar Serotonina conhecida como o hormônio da felicidade
      regulando o ritmo cardíaco, sono, apetite, memória e a temperatura do
      corpo.
    </p>

    <p>
      A Sucção Não Nutritiva pode ser associada as soluções adocicadas: glicose
      oral a 25% e leite humano ordenhado da própria mãe, potencializando seu
      efeito.
    </p>
  </div>

  <div class="photo">
    <img src="../../assets/imgs/17.png" alt="" />
    <img src="../../assets/imgs/29.png" alt="" />
  </div>

  <div class="button">
    <a id="but1" routerLink="/how5">PRÓXIMA PÁGINA</a>
  </div>
</div>
