<div class="icon">
  <img routerLink="/pain4" src="../../assets/icon/arrow.png">
</div>

<div class="container">
  <div class="subtitle">
    <!-- <h3>TÓPICO 3 - O MEU FILHO/FILHA PODE SENTIR DOR?</h3>
    <h1>Como o prematuro reage a dor?</h1> -->
  </div>

  <!-- <div class="p">
    <p class="p-sub">
      Aqui você encontrará informações sobre a dor e como vocês (pais ou
      familiares) podem ajudar o seu filho ou sua filha durante a internação.
    </p>
</div> -->

  <div class="p">
    <p>
      <strong
        ><u
          >Estar atento aos sinais de comportamento do seu filho/filha é
          essencial para ajudá-lo!</u
        ></strong
      >
    </p>

    <p>
     <strong>5) Sinais de contato e consolo:</strong> Importante observar <u>sinais de contato</u>
      como: se está atento à voz, apresenta tensão durante a interação, chora à
      mínima manipulação, ou não há contato, geme à manipulação.
    </p>

    <p>E os <u>sinais de consolo</u> como: se está quieto e
      relaxado, ou acalma rápido com voz, carinho
      ou sucção, ou acalma com dificuldade, ou não
      acalma, ou suga desesperadamente.</p>
  </div>

  <div class="photo">
    <img src="../../assets/imgs/11.png" alt="" />
    <img src="../../assets/imgs/12.png" alt="" />
  </div>

  <!-- <div class="p">
    <p>
      <strong>2) Sono e vigília:</strong> Os bebes prematuros reagem a dor
      através dos estados de sono – profundo ou irregular e vigília – olhos bem
      abertos e atentos. O prematuro pode dormir fácil ou apresentar dificuldade
      para pegar no sono tendo sonecas curtas e agitadas ou até mesmo não
      dormindo.
    </p>
  </div> -->

  <div class="button">
    <a id="but1" routerLink="/summary">MENU</a>
  </div>
</div>
