.container
{
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: 60px;
  margin: 0 12px;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow-y: scroll;
}

.icon img{
  display: flex;
  align-items: flex-start;
  padding: 12px;
  background: white;
  border: 3px solid var(--ion-background-color);
}

.photo img
{
  border-radius: 15%;
  width: 200px;
  height: 150px;
}

.p{
  font-family: "Ubuntu", sans-serif;
  font-size: 12px;
  text-align: center;
  font-weight: 400;

}

.p-sub {
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  text-align: center;
  font-weight: 700;
}


.title h1{
  font-family: "Ubuntu", sans-serif;
  font-size: 24px;
  text-align: center;
  font-weight: 700;
}

.button
{
  display: flex;
  gap: 12px;
  margin-top: 10px;

}

#but1{
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  text-align: center;
  font-weight: 400;
  color: #fff;
  background-color: rgb(120, 68, 168);
  padding: 16px;
  border-radius: 10%;
}

#but2{
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  text-align: center;
  font-weight: 400;
  background-color: #fff;
  padding: 16px;
  border-radius: 10%;
}
