<div class="container">
  <div class="title">
    <h1>Mas afinal... Vocês sabem o que é a dor?</h1>
  </div>

  <div class="p">
    <p class="p-sub">
      Aqui você encontrará informações sobre a dor e como vocês (pais ou
      familiares) podem ajudar o seu filho ou sua filha durante a internação.
    </p>
</div>

    <div class="photo">
      <img src="../../assets/imgs/1.jpg" alt="" />
    </div>

    <div class="p">
      <p>
       <strong>Lembre-se:</strong> Todo recém-nascido sente dor! Principalmente durante os
        primeiros dias de vida, após o nascimento.
      </p>

      <p>
       <strong>E não se esqueçam:</strong> Vocês podem contar com todo o apoio da equipe de
        saúde, afinal eles farão de tudo para que seu filho ou sua filha NÃO
        sinta dor.
      </p>
    </div>

    <div class="button">
      <a id="but1" routerLink="/home">HOME</a>
    </div>
  </div>
