<div class="icon">
  <img routerLink="" src="../../assets/icon/arrow.png">
</div>

<div class="container">
  <div class="subtitle">
    <h3>TÓPICO 3 - O MEU FILHO/FILHA PODE SENTIR DOR?</h3>
    <h1>O que é a dor?</h1>
  </div>

  <!-- <div class="p">
    <p class="p-sub">
      Aqui você encontrará informações sobre a dor e como vocês (pais ou
      familiares) podem ajudar o seu filho ou sua filha durante a internação.
    </p>
</div> -->

  <div class="p">
    <p>
      A dor pode ser um sinal de que algo não vai bem no nosso corpo! E cada
      pessoa sabe o quanto dói a sua dor.
    </p>

    <p>
      A dor é uma sensação de alerta produzida
      pelo nosso Sistema Nervoso geralmente
      devido a uma lesão na pele, como uma ferida.
      Ela é um aviso que algo não está certo no
      nosso organismo e por isso é muito
      importante para a sobrevivência dos seres
      humanos.
    </p>

    <p>
    <strong>Mas pode o meu bebê prematuro sentir dor?</strong>
    </p>

    <p>
      <u>SIM! Quando o prematuro é furado por uma
        agulha na mão ou no calcanhar, ele sente dor.
        </u>
    </p>
  </div>

  <div class="photo">
    <img src="../../assets/imgs/7.png" alt="" />
  </div>

  <div class="button">
    <a id="but1" routerLink="/pain2">PRÓXIMA PÁGINA</a>
  </div>
</div>
