<div class="container">
  <div class="subtitle">
    <h3>TÓPICO 3 - O MEU FILHO/FILHA PODE SENTIR DOR?</h3>
    <h1>Como o prematuro reage a dor?</h1>
  </div>

  <div class="p">
    <p>
      <strong>3) Movimentos corporais:</strong> O recém-nascido pode apresentar
      braços e pernas agitadas, rigidez e arqueamento do tórax. Abertura das
      mãos com os dedos estendidos e separados. Dedos fletidos e fortemente
      fechados sobre a palma das mãos formando deixando a mão fechada (SBP,
      2018).
    </p>

    <p>
      <strong>4) Choro ou choramingar:</strong> 50% dos recémnascidos não choram
      durante um procedimento doloroso. O choro é pouco específico, podendo ser
      desencadeado por outros estímulos como fome e frio. O prematuro pode
      apresentar ausência de choro, gemência ou choro mínimo com estímulo
      doloroso. Irritabilidade ou choro intermitente que pode ser consolado ou
      choro alto ou silencioso contínuo inconsolável.
    </p>

    <p>
     <strong>Atenção!</strong> Quanto menor o prematuro, menor poderá ser a sua expressão facial
      de dor, ou seja, pode expressar esses sinais sutilmente. Sendo mais
      difícil de identificar que ele(a) está sentindo dor. O bebê pode ficar
      quieto ou parado, <strong><u>mas isso não quer dizer que não sente dor.</u></strong>
    </p>
  </div>

  <div class="button">
    <a id="but1" routerLink="/pain5">PRÓXIMA PÁGINA</a>
  </div>
</div>
