<div class="container">
  <div class="title">
    <h1>Olá, mamãe e papai!</h1>
  </div>

  <div class="p">
    <p class="p-sub">
      Você teve um filho ou uma filha que nasceu antes do tempo? Ele ou Ela
      precisa ficar internado na Unidade Neonatal?
    </p>

    <p>
      São momentos difíceis, cansativos e muito desgastantes emocionalmente para
      vocês e toda a família, não é mesmo? Mas é fundamental para seu filho ou
      sua filha receber todo o seu carinho, afeto e amor.
    </p>

    <p>
      Sabemos o quanto é importante para você, Pai, Mãe e Família, ser informado
      sobre o tratamento e os procedimentos a serem realizados pela equipe de
      saúde para a recuperação de seu bebê.
    </p>

    <p>Durante a internação seu filho ou sua filha
      passa por muitos procedimentos <strong> importantes
        e necessários</strong> para a recuperação, tais como
      furo com agulhas para coleta de sangue ou
      colocação de um tubinho (cateter) para
      receber líquidos (soro ou medicamentos)
      através da veia da mão ou do braço, porém
      <strong>estes procedimentos são considerados
        dolorosos e estressantes para o bebê</strong>.
      </p>
  </div>

  <div class="button">
    <a id="but1" routerLink="/screen2">PRÓXIMO</a>
  </div>
</div>
