<div class="icon">
  <img routerLink="" src="../../assets/icon/arrow.png">
</div>

<div class="container">
  <div class="subtitle">
    <h3>TÓPICO 2: NASCEU PREMATURO. . . E AGORA?</h3>
    <h1>Nasceu prematuro e agora? Como será?</h1>
  </div>

  <!-- <div class="p">
    <p class="p-sub">
      Aqui você encontrará informações sobre a dor e como vocês (pais ou
      familiares) podem ajudar o seu filho ou sua filha durante a internação.
    </p>
</div> -->
  <!--
  <div class="photo">
    <img src="../../assets/imgs/2.jpg" alt="" />
  </div> -->

  <div class="p">
    <p>
      Quando um bebê nasce prematuro é muito comum que os pais sintam medo ou
      angústia, ansiedade e até mesmo culpa.
      <strong> Mas vocês não estarão sozinhos! </strong> Toda a equipe de saúde
      da Unidade de Terapia Intensiva Neonatal (UTIN) estará com vocês!
    </p>

    <p>
      Fiquem tranquilos, pois a equipe de saúde <strong>SEMPRE</strong> irá
      conversar com vocês antes do encontro com seu filho ou sua filha na UTIN,
      informando sobre as condições clínicas e comportamentais de seu bebê.
    </p>

  <p>
    É importante dizer que, dependendo da classificação do prematuro, seu filho
    ou sua filha poderá passar um longo período internado na UTIN, pois seus
    órgãos como o coração, pulmão e cérebro ainda não estão maduros o suficiente
    e poderão necessitar de algum tipo de cuidado especial.
  </p>
  </div>

  <div class="button">
    <a id="but1" routerLink="/ifprematuro2">PRÓXIMA PÁGINA</a>
  </div>
</div>
