<div class="container">
  <div class="subtitle">
    <h3>
      TÓPICO 5: COMO AJUDAR O MEU FILHO OU FILHA DURANTE UM PROCEDIMENTO
      DOLOROSO E/OU ESTRESSANTE?
    </h3>
    <h1>Durante o procedimento:</h1>
  </div>

  <div class="p">
    <ul>
      <li> É muito importante que após o procedimento seu filho ou filha permaneça em
        contato pele a pele no mínimo uma hora.</li>

    <li>
      Não se preocupem! A equipe de saúde está treinada para orientar vocês de
      maneira segura.
    </li>
  </ul>
  </div>

  <div class="photo">
    <img src="../../assets/imgs/18.png" alt="" />
    <img src="../../assets/imgs/19.png" alt="" />
  </div>

  <div class="photo-solo">
    <img src="../../assets/imgs/20.png" alt="" />
  </div>

  <div class="button">
    <a id="but1" routerLink="/how8">PRÓXIMA PÁGINA</a>
  </div>
</div>
