<ion-content>
  <div class="container">
    <div class="photo">
      <img src="../../assets/imgs/1.jpg" alt="" />
    </div>

    <div class="title">
      <h1>
        CuidaDOR <br />
        Neonatal
      </h1>
    </div>

    <div class="p">
      <p>Pronto para descobrir mais sobre a dor do recém-nascido prematuro?</p>
    </div>

    <div class="button">
      <button id="but1">
        SOBRE NÓS
      </button>

      <button id="but2">
        COMEÇAR
      </button>
    </div>
  </div>

</ion-content>
