<div class="icon">
  <img routerLink="/summary" src="../../assets/icon/arrow.png" />
</div>

<div class="container">
  <div class="subtitle">
    <h3>TÓPICO 1: A PREMATURIDADE</h3>
    <h1>O prematuro</h1>
  </div>

  <!-- <div class="p">
    <p class="p-sub">
      Aqui você encontrará informações sobre a dor e como vocês (pais ou
      familiares) podem ajudar o seu filho ou sua filha durante a internação.
    </p>
</div> -->

  <div class="photo">
    <img src="../../assets/imgs/2.jpg" alt="" />
  </div>

  <div class="p">
    <p>
      <strong
        >Você sabia que seu filho ou sua filha nascida antes do tempo é chamado
        de prematuro ou pré-termo?
      </strong>
    </p>

    <p>
      Então... antes de falar sobre como prevenir e aliviar a dor do
      recém-nascido prematuro precisamos entender
      <strong> o que é um recém nascido prematuro.</strong>
    </p>

    <p>
      O bebê a termo nasce quando a mãe está entre a 37ª e 42ª. semanas de
      gestação, porém alguns motivos podem levar a um nascimento antes do tempo,
      ou seja, com menos de 37 semanas de gestação, e quando isso acontece o
      bebê é chamado de <u>PREMATURO.</u>
    </p>
  </div>

  <div class="button">
    <a id="but1" routerLink="/prematuro2">PRÓXIMA PÁGINA</a>
  </div>
</div>
